<h1>Listing Users & Roles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Roles</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><% unless user.roles.blank? %>
          <% user.roles.each do |role| %>
            <%= role.name %>
          <% end -%></td>
        <% end -%>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<td><%= link_to 'back', root_path %></td>